parameters:
    level: max

    earlyTerminatingFunctionCalls:
        - dd
        - dump

    earlyTerminatingMethodCalls:
        DecodeLabs\Glitch:
            - dumpDie
            - dumpValues
            - dumpException
            - incomplete

        DecodeLabs\Exceptional:
            - incomplete

    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        # Exceptions
        - '#^Caught class .+ not found\.$#'
        #- '#^Call to method [a-zA-Z0-9_]+\(\) on an unknown class ([a-zA-Z0-9_\\]+\\E[A-Z][a-zA-Z0-9_]+)\.$#'
        - '#^Throwing object of an unknown class ([a-zA-Z0-9_\\]+\\)?E[A-Z][a-zA-Z0-9]+\.$#'

        # DOMDocument->nextSibling === null
        - '#^Strict comparison using === between DOMNode and null will always evaluate to false\.$#'

        # Could not read file
        - '#^Could not read file\: .*src\/Veneer\/Binding.php\([0-9]+\) \: eval\(\)#'

services:
    -
        class: DecodeLabs\PHPStan\Exceptional\ReflectionExtension
        tags:
            - phpstan.broker.methodsClassReflectionExtension

    -
        class: DecodeLabs\PHPStan\Glitch\ReflectionExtension
        tags:
            - phpstan.broker.methodsClassReflectionExtension

    -
        class: DecodeLabs\PHPStan\Collections\TreeReflectionExtension
        tags:
            - phpstan.broker.propertiesClassReflectionExtension

    -
        class: DecodeLabs\PHPStan\Tagged\XmlElementReflectionExtension
        tags:
            - phpstan.broker.propertiesClassReflectionExtension
