parameters:
    level: 5

    earlyTerminatingFunctionCalls:
        - dd
        - dump

    earlyTerminatingMethodCalls:
        DecodeLabs\Glitch:
            - dumpDie
            - dumpValues
            - dumpException
            - incomplete

        DecodeLabs\Glitch\Proxy:
            - incomplete


    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        # DOMDocument->nextSibling === null
        - '#^Strict comparison using === between DOMNode and null will always evaluate to false\.$#'

services:
    -
        class: DecodeLabs\PHPStan\Terminus\ReflectionExtension
        tags:
            - phpstan.broker.methodsClassReflectionExtension

    -
        class: DecodeLabs\PHPStan\Exceptional\ReflectionExtension
        tags:
            - phpstan.broker.methodsClassReflectionExtension

    -
        class: DecodeLabs\PHPStan\Collections\TreeReflectionExtension
        tags:
            - phpstan.broker.propertiesClassReflectionExtension

    -
        class: DecodeLabs\PHPStan\Metamorph\ReflectionExtension
        tags:
            - phpstan.broker.methodsClassReflectionExtension

    -
        class: DecodeLabs\PHPStan\Tagged\ReflectionExtension
        tags:
            - phpstan.broker.methodsClassReflectionExtension

    -
        class: DecodeLabs\PHPStan\Exemplar\ElementReflectionExtension
        tags:
            - phpstan.broker.propertiesClassReflectionExtension
