parameters:
    universalObjectCratesClasses:
        - DecodeLabs\Collections\Tree
services:
    -
        class: DecodeLabs\PHPStan\ReflectionExtension
        tags:
            - phpstan.broker.methodsClassReflectionExtension
